# .gitignore
node_modules

*~
/.project
/data
trash

# Data (cache or Database)
var
*.backup
*.log
*Log*
*cache*
*.bkp
*.old

# Private
*private
**/.env

# ZigBee
*.db
session.default

birthdays*
.config.json
package.json
settings.js
*_cred.json
# ozw*


# etc
src/tidhome/config/flow-manager-nodes-order.json
src/tidhome/config/package-lock.json
